/* ===== PROJECTS =====*/

.projects__container {
  justify-items: center;
  row-gap: 2rem;
}

.projects__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0 3px 6px #a1a1a14d;
}

.projects__img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.projects__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffffff4d;
  border-radius: 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.projects__img:hover .projects__link {
  bottom: 0;
}

.projects__link-name {
  color: var(--dark-color);
}

.projects__social-icon {
  font-size: 2.2rem;
  color: var(--dark-color);
  margin: 0 var(--mb-1);
}

.projects__social-icon:hover {
  color: var(--first-color);
}

.projects {
  padding: 4rem 0;
}

.projects__title {
  position: relative;
  font-size: var(--h2-font-size);
  margin: var(--mb-4) 0;
  text-align: center;
  color: var(--text-color);
}

.projects__title::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 0.20rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  background-color: var(--first-color);
}

.otherProjects {
  margin-top: 61px;
  text-align: center;
}

.btn-outline {
  color: var(--first-color);
  border: 1px solid;
  border-color: var(--first-color);
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.5);
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: var(--first-color);
  background-color: var(--first-color);
}

.btn-xl {
  font-size: 13px;
  padding: 15px 45px;
}

.btn1 {
  border-radius: 8px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-outline .arrow {
  vertical-align: middle;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .projects__title::after {
    position: absolute;
    content: "";
    width: 65px;
    height: 0.20rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }
}