/*===== HEADER =====*/

.header {
    width: 100%;
    background-color: var(--Color1);
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 1.7rem;
    font-weight: normal;
    color: var(--text-color);
    font-family: 'Pacifico', cursive;
}

.header__toggle {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
}

.header__toggleRotate.active {
    transform: rotate(45deg);
}

.header__toggleRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--first-color);
    stroke-width: 4.5;
    stroke-linecap: round;
}

.header__toggle .top {
    stroke-dasharray: 30 172;
}

.header__toggle .middle {
    stroke-dasharray: 40 111;
}

.header__toggle .bottom {
    stroke-dasharray: 30 172;
}

.header__toggle.active .top {
    stroke-dashoffset: -132px;
}

.header__toggle.active .middle {
    stroke-dashoffset: -71px;
}

.header__toggle.active .bottom {
    stroke-dashoffset: -132px;
}